/* general */
:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --transition-duration-func: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


img {
    display: flex;

}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

/* mobile header */
@media screen and (min-width: 280px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;

    }

}

@media screen and (min-width: 1158px) {
    .container {
        width: 1232px;

    }

}

@media screen and (min-width: 280px) {
    .section {
        padding: 96px 0;
    }
}

@media screen and (min-width: 1158px) {
    .section {
        padding: 120px 0;

    }
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .data {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }

}

.mobile-menu-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-button-icon {
    border: 3px solid #2E2F42;

}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
}


.header-container {
    display: flex;
    height: 72px;

}

@media screen and (max-width: 767px) {
    .header-container {
        height: 70px;
    }
}


@media screen and (max-width: 1157px) {
    .header-container {
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}



@media screen and (min-width: 768px)

/* navigation table - pc */
    {
    .header_nav {
        display: flex;
        align-items: center;
        column-gap: 120px;

    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        font-weight: 500;
        font-size: 16px;
    }

    .menu-name {

        color: #2E2F42;
        padding: 24px 0;
        transition: color var(--transition-duration-func);
    }

    .menu-name:hover,
    .menu-name:focus {
        color: #404BBF;
    }

    .portfolio-active {
        position: relative;
        color: #404bbf;
    }

    .studio-active {
        position: relative;
        color: #404bbf;
    }

    .studio-active::after {
        content: "";
        display: flex;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 100%;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .portfolio-active::after {
        content: "";
        display: flex;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 100%;
        background-color: #404bbf;
        border-radius: 2px;
    }

    /* contacts - table - pc */

    .data-info {
        color: #434455;
        transition: color var(--transition-duration-func);
    }

    .data-info:hover,
    .data-info:focus {
        color: #404bbf
    }
}

@media screen and (min-width: 768px) {
    .contact-data {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 14px;
    }

    .contacts {
        margin-top: 16px;
        margin-bottom: 4px;
    }

}

@media screen and (min-width: 1158px) {
    .contacts {
        display: flex;
        margin-top: 24px;
        margin-bottom: 24px;
        gap: 40px;
    }

    .data {
        margin-left: auto;
    }
}


/* header */


/* logo */
.logo {
    font-family: var(--secondary-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px */
}

.logo-end {
    color: #2e2f42;
}

/* hero */


@media screen and (min-width: 280px) {
    .hero {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-img/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/table-studio/table-hero.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/computer-img/computer-hero.jpg);
    }
}

/* hero-background img 2x*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile-img/hero-mobile@2x.jpg);

    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/table-studio/table-hero@2x.jpg );

    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/computer-img/computer-hero@2x.jpg);

    }
}



@media screen and (min-width: 280px) {
    .main-hero {
        padding-left: 54px;
        padding-right: 54px;
    }

    .hero_title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 72px;
    }

    .order-btn {
        font-size: 16px;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        font-weight: 500;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        padding: 16px 32px;
        margin-bottom: 16px;
        border: none;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        margin-right: auto;
        margin-left: auto;
        transition: background-color var(--transition-duration-func);
    }
}

@media screen and (min-width: 768px) {
    .main-hero {
        padding-left: 132px;
        padding-right: 132px;
    }

    .hero_title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

}


@media screen and (min-width: 1158px) {
    .order-btn {
        margin-bottom: 68px;
    }

    .hero_title {
        margin-top: 68px;
        margin-bottom: 48px;
    }
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
}



/* button */

/*  section advantages */
@media screen and (max-width: 1157px) {
    .advantages-icons {
        display: none;
    }
}

@media screen and (min-width: 280px) {
    .advantages-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .menu-advantages {
        flex-wrap: wrap;
        display: flex;
        gap: 72px 24px;
    }


    .name {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        font-size: 20px;
        color: #2E2F42;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 768px) {
    .name {
        text-align: start;
    }

}

@media screen and (min-width: 768px) and (max-width: 1157px) {


    .advantages-list {
        flex: 45%;
    }
}

@media screen and (min-width: 1158px) {

    .advantages-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }


    .advantages-list {
        width: calc((100% - 72px) / 4);
    }

    .name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .advantages-description {
        font-weight: 400;
    }
}

@media screen and (max-width: 1157px) {
    .section-pictures {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .about-us {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }



    .pictures {
        display: flex;
        gap: 24px;
    }
}




/* icons */
.sm-team {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.sm-general {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;

}

.link-icon {
    transition: background-color var(--transition-duration-func);
}

.link-icon:hover,
.link-icon:focus {
    background-color: #404BBF;

}

.names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

@media screen and (min-width: 280px) {
    .team-member {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width: 768px) {
    .team-member {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}

.card-title {
    padding: 32px 0
}

.team {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

/* icons */
.names {
    text-align: center;
    margin-bottom: 8px;

}

.description {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.members {
    background-color: #F4F4FD;

}

/* companies */

/* hover focus */
.icon-link {
    transition: border-color var(--transition-duration-func), color var(--transition-duration-func);
}

.icon-link:hover,
.icon-link:focus {
    color: #404bbf;
    border-color: #404BBF;
}


.icons {
    fill: currentColor;
}

/* hover focus */


.customers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px 24px;

}

.customers-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.icon-link {
    display: flex;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

/* footer */

@media screen and (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
        padding-left: 92px;
    }


    .footer-text {
        width: 264px;

    }

    .footer-client-info {
        display: flex;

    }

}

.footer-icon {
    transition: background-color var(--transition-duration-func);
}

.footer-icon:hover,
.footer-icon:focus {
    background-color: #31D0AA;
}


.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.sm-footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
}

@media screen and (max-width: 767px) {
    .sm-footer {
        width: 208px;
        height: 40px;
        margin-bottom: 72px;
    }

    .social-media {
        display: block;
        text-align: center;
    }
}


.sm-icons {
    fill: #F4F4FD;
}



.main-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}


@media screen and (min-width: 280px) {
    .footer-logo {
        font-family: var(--secondary-font-family);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
}

.footer-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-email {
    border: 1px solid #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    Width: 264px;

    Height: 40px;
    margin-bottom: 16px;
    background-color: transparent;
    color: #ffffff;

}

.subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

@media screen and (max-width: 767px) {
    .footer-logo {
        display: block;
        text-align: center;
        margin-bottom: 18px;
    }

    .footer-description {
        display: block;
        text-align: center;
        margin-bottom: 72px;


    }

    .footer-email {
        width: 100%;
    }

    .subscribe {
        display: block;
        text-align: center;

    }
}


.footer-logo-end {
    color: #f4f4fd
}





.footer-email::placeholder {
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-left: 18px;
    padding-top: 8px;

}



.footer-button {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin-top: 42px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background: #4D5AE5;

    cursor: pointer;


}


.button-icon {
    position: relative;
}

.footer-button-svg {
    margin-left: 16px;
}


/* buttons */

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 48px;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .buttons {
        margin-bottom: 96px;
        margin-top: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .buttons {
        margin-bottom: 72px;
        margin-top: 100px;
    }

}


.scroll-btn:hover,
.scroll-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.scroll-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;

    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color var(--transition-duration-func), background-color var(--transition-duration-func), border-color var(--transition-duration-func), box-shadow var(--transition-duration-func);


}

/* pictures*/

@media screen and (min-width: 280px) {
    .main-profile {
        margin-bottom: 48px;
    }

    .picture {
        display: block;
        max-width: 100%;
        height: auto;
        transition: box-shadow var(--transition-duration-func);
    }

    .portfolio-pictures {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-text {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }

    .cards-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .card-category {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .card-category {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

@media screen and (min-width: 768px) {
    .main-profile {
        margin-bottom: 96px;
    }

    .portfolio-pictures {
        gap: 24px;
    }

}

@media screen and (min-width: 1158px) {
    .main-profile {
        margin-bottom: 120px;
    }
}


.picture:hover,
.picture:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}



@media screen and (max-width: 767px) {
    .portfolio-pictures {
        align-items: center;
        justify-content: center;
        gap: 48px;
    }
}

/* @media screen and (min-width: 768px) {
    .portfolio-pictures {
        gap: 24px;
    }
} */

/* .technologies {
    display: flex;
    flex-basis: 30%;
} */

/* .card-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
} */

/* .cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
} */




@media screen and (max-width: 1157px) {

    .overlay {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .text-overlay {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        padding: 40px 32px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        transform: translateY(100%);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        background: #4D5AE5;
        transition: transform var(--transition-duration-func);
    }

    .picture:hover .overlay,
    .picture:focus .overlay {
        transform: translateY(0);

    }
}


/* backdrop */

.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration-func), visibility var(--transition-duration-func);
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration-func);
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #e7e9fc;
    transition: background-color var(--transition-duration-func), border var(--transition-duration-func);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.close-btn:hover,
.close-btn:focus {
    fill: #ffffff;
}

.close-btn {
    transition: fill var(--transition-duration-func);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* backdrop user info */
.modal-user-general {
    margin-bottom: 8px;
}


/* .modal-user {
    padding: 0px 24px 0px 24px;
} */
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-info-desc {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-user-info {
    display: block;
    margin-bottom: 4px;
    margin-right: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.input-user-info {
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid #2E2F4266;
}

.modal-user-comment {
    width: 360px;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.2);
}

.modal-comment {
    margin-bottom: 16px;

}

.modal-user-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.input-user-info,
.modal-user-comment {
    border-radius: 4px;
    transition: border-color var(--transition-duration-func);
}

.input-user-info:focus,
.input-user-info:hover,
.modal-user-comment:hover,
.modal-user-comment:focus {
    outline: none;
    border-color: #4D5AE5;
}

.input-user-info:focus+.input-icon,
.input-user-info:hover+.input-icon {
    fill: #4D5AE5;
}

.modal-user-info {
    position: relative;
}

.checkbox {
    margin-bottom: 24px;
}

.modal-user-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.privacy-text {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.private-policy-text {
    margin-left: 8px;
}

.visually-hidden:checked+.modal-user-checkbox>.privacy-text {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
    border-color: #404bbf;
}

.link-color {
    color: #4d5ae5;

}

.input-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    left: 16px;
    transition: fill var(--transition-duration-func);

}

.user-info-svg {
    position: relative;
}

.modal-user-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    font-weight: 500;
    color: #FFFFFF;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;

    cursor: pointer;
    transition: background-color var(--transition-duration-func);
}

/* mobile menu backdrop */
.mobile-backdrop-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-backdrop-header.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.mobile-modal-header {
    position: relative;
    padding: 40px;
}


.mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #2E2F42;
    background: #E7E9FC;

}

.mobile-nav-list {
    padding-top: 40px;
}

.mobile-nav-link:active,
.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404BBF;
}

.mobile-nav-link {
    color: #2E2F42;

}


.mobile-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #2E2F42;


}

.mobile-data-info-phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;


}

.mobile-phone {
    margin-top: 244px;
}

.mobile-mail {
    margin-top: 40px;
}

.mobile-data-info-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-media-container {
    margin-top: 48px;

}

.mobile-media {
    display: flex;
    column-gap: 56px;
}

.media-list {
    width: 40px;
    height: 40px;
}

.medial-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;
}

.mobile-media-icon {
    fill: #F4F4FD;
}